.button {
  border-radius: var(--ui-button-border-radius);
  cursor: pointer;
  font-weight: var(--ui-font-weight-md);

  &.smSize {
    font-size: 12px;
    padding: var(--ui-button-padding-sm);
  }
  &.mdSize {
    font-size: 14px;
    padding: var(--ui-button-padding-md);
  }
  &.lgSize {
    font-size: 16px;
    padding: var(--ui-button-padding-lg);
  }

  &.default {
    background-color: transparent;
    border: 1px solid var(--ui-colors-green);
    color: var(--ui-colors-green);
  }
  &.primary {
    background-color: var(--ui-colors-green);
    color: var(--ui-colors-white);
  }
  &:disabled {
    cursor: default;
    opacity: 0.5;
  }
}