:root {
  --container-max-width: 1440px;
  --ui-container-padding-horizontal-lg: 64px;
  --ui-container-padding-horizontal-md: 40px;
  --ui-container-padding-horizontal-sm: 24px;
  --ui-navbar-padding: 16px;
  --ui-font-weight-lg: 700;
  --ui-font-weight-md: 400;
  --ui-colors-white: #FFFFFF;
  --ui-colors-grey: #DDDDDD;
  --ui-colors-green: #007782;
  --ui-colors-red: #ad0000;
  --ui-colors-overlay: rgba(0, 0, 0, 0.6);
  --ui-section-wrap-padding-vertical-sm: 64px;
  --ui-section-wrap-padding-vertical-md: 96px;
  --ui-section-wrap-padding-vertical-lg: 160px;
  --ui-section-wrap-gap-sm: 32px;
  --ui-section-wrap-gap-md: 40px;
  --ui-section-wrap-gap-lg: 64px;
  --ui-container-gutter-sm: 32px;
  --ui-container-gutter-md: 40px;
  --ui-container-gutter-lg: 64px;
  --ui-border-radius-default-sm: 24px;
  --ui-border-radius-default-md: 24px;
  --ui-border-radius-default-lg: 32px;
  --ui-card-padding-sm: 18px;
  --ui-card-padding-md: 20px;
  --ui-card-padding-lg: 24px;
  --ui-card-gap-sm: 8px;
  --ui-card-gap-md: 8px;
  --ui-card-gap-lg: 8px;
  --ui-transition: 250ms ease-in-out;
  --ui-button-padding-sm: 2px 12px;
  --ui-button-padding-md: 4px 16px;
  --ui-button-padding-lg: 8px 24px;
  --ui-button-border-radius: 16px;
  --ui-field-gap: 8px;
  --ui-form-gap: 16px;
  --ui-field-padding: 8px 16px;
  --ui-field-border-redius: 12px;
}